
.icon-folder-open:before { content: '\e000'; } /* '' */
.icon-floppy:before { content: '\e001'; } /* '' */
.icon-cw:before { content: '\e002'; } /* '' */
.icon-ccw-1:before { content: '\e003'; } /* '' */
.icon-pause-2:before { content: '\e004'; } /* '' */
.icon-play:before { content: '\e005'; } /* '' */
.icon-loop:before { content: '\e006'; } /* '' */
.icon-folder-empty:before { content: '\e007'; } /* '' */
.icon-doc:before { content: '\e008'; } /* '' */
