
.icon-floppy:before { content: '\e800'; } /* '' */
.icon-undo:before { content: '\e801'; } /* '' */
.icon-cw:before { content: '\e802'; } /* '' */
.icon-cw-1:before { content: '\e803'; } /* '' */
.icon-cw-2:before { content: '\e804'; } /* '' */
.icon-ccw:before { content: '\e805'; } /* '' */
.icon-ccw-1:before { content: '\e806'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
