
.icon-folder-open:before { content: '\e000'; } /* '' */
.icon-floppy:before { content: '\e001'; } /* '' */
.icon-cw:before { content: '\e002'; } /* '' */
.icon-ccw-1:before { content: '\e003'; } /* '' */
